.main{
    display:none;
    height: auto;
    width: 100vw;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main--xs{
   display:block;
   background-color: $white;
    height: 10rem;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main--lg{
    display:none;
    height: auto;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@media only screen and (min-width: 768px){
    .main{
        display:none;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .main--xs{
       display:block;
       background-color: $white;
        height: 20rem;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .main--lg{
        display:none;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

}

@media only screen and (min-width: 992px){

    .main{
        display:block;
    }

    .main--xs{
    display:none;
    background-color:$white;;
    height: 10rem;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    }
    .main--lg{
        display:none;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

//creado por mi para ipad pro
@media only screen and (min-width: 1024px){
    .main{
        display:none;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .main--xs{
       display:block;
       background-color: $white;
        height: 20rem;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .main--lg{
        display:none;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

}
@media only screen and (min-width: 1200px){

    .main{
        display:none;
    }

    .main--xs{
    display:none;
    background-color:$white;;
    height: 10rem;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    }
    .main--lg{
        display:block;
        height: auto;
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}
